.features {
  @extend %section;
  &__title {
    @extend %section-title;
  }
  &__description {
    color: $color-gray-dark;

    @extend %section-description;
  }
  &__content {
    display: grid;

    grid-column-gap: $gap * 2;
    @include lg-min {
      grid-row-gap: $gap * 3;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, ninmax(138px max-content));
    }
    @include lg-sm {
      grid-row-gap: $gap * 2.5;
      grid-template-rows: repeat(2, 1fr);
    }
    @include sm {
      grid-row-gap: $gap * 2;
      grid-template-rows: repeat 1fr;
    }
  }
}

.feature {
  display: grid;

  grid-template-areas: "fic ftl" "fic fds";
  grid-column-gap: $gap;
  grid-row-gap: $gap * 0.4;
  grid-template-rows: minmax($gap * 1.5, max-content) auto;
  @include sm-min {
    grid-template-columns: ($gap * 2.5) 1fr;
  }
  @include sm {
    grid-template-columns: ($gap * 3) 1fr;
  }
  &__title {
    margin: 0;

    font-style: 1.75rem;

    grid-area: ftl;
  }
  &__description {
    margin: 0;

    color: $color-gray-light;

    line-height: 1.3;

    grid-area: fds;
  }
  &__icon {
    text-align: center;

    grid-area: fic;
    i {
      font-size: 3.1rem;
    }
  }
}