%section {
  @include lg-min {
    padding-top: $gap * 5.65;
    padding-bottom: $gap * 7;
  }
  @include lg {
    padding-top: $gap * 3;
    padding-bottom: $gap * 4;
  }
}

%section-title {
  text-align: center;

  font-style: 2rem;

  @include lg-min {
    margin: 0 ($gap * 4) ($gap * 0.5);
  }
  @include lg-md {
    margin: 0 ($gap * 3) ($gap * 0.5);
  }
  @include md {
    margin: 0 0 ($gap * 0.5);
  }
}

%section-description {
  text-align: center;

  font-style: 1.25rem;
  line-height: 1.2;

  @include lg-min {
    margin: ($gap * 0.2) ($gap * 4) ($gap * 4.3);
  }
  @include lg-md {
    margin: ($gap * 0.2) ($gap * 3) ($gap * 3);
  }
  @include md {
    margin: ($gap * 0.2) 0 ($gap * 2);
  }
}

%form-preset {
  height: 50 px;

  border: none;
  border-radius: 4px;
  outline: none;
}